$Tutorial-1: 'tp1.svg';
$Tutorial-2: 'tp2.svg';
$Tutorial-3: 'tp3.svg';
$Tutorial-4: 'tp4.svg';
$Tutorial-5: 'tp5.svg';

$Sign-In-Logo: 'sign_in.svg';
$Sign-Up-Logo: 'sign_up.svg';
$Sign-Bg: 'bg.jpg';//'sign_bg.svg';

$Menu-Home-On: 'home_on.png';
$Menu-Home-Off: 'home_off.png';

$Menu-Notification-On: 'notifications_on.png';
$Menu-Notification-Off: 'notifications_off.png';

$Menu-Service-On: 'services_on.png';
$Menu-Service-Off: 'services_off.png';

$Menu-History-On: 'history_on.png';
$Menu-History-Off: 'history_off.png';

$Menu-Vehicle-On: 'vehicles_on.png';
$Menu-Vehicle-Off: 'vehicles_off.png';

$Menu-Coupon-On: 'coupon_on.png';
$Menu-Coupon-Off: 'coupon_off.png';

$Menu-Payment-On: 'payment_on.png';
$Menu-Payment-Off: 'payment_off.png';

$Menu-Setting-On: 'settings_on.png';
$Menu-Setting-Off: 'settings_off.png';

$Menu-About-On: 'about_on.png';
$Menu-About-Off: 'about_off.png';

$Logo-White: 'white.png';
$Logo-Dark-Navy-Blue: 'dark_navy_blue.png';
$Logo-Light-Grey-Blue: 'light_grey_blue.png';

$Payment-Amex: 'payment_amex.png';
$Payment-Visa: 'payment_visa.png';
$Payment-Master: 'payment_master.png';

$Home-On-Demand: 'ondemand.jpg';
$Home-Reserve: 'reserve.jpg';

$Coupon-Gift: 'gift.jpg';
$Coupon-Tag: 'tag.jpg';

$State-NJ: 'state/NJ.png';


//Dark Navy Blue: #404041 rgb(40, 40, 41)
//Light Grey Blue: #D1D2D4 rgb(209, 210, 212)
$Dark-Navy-Blue: #404041;
$Light-Grey-Blue: #D1D2D4;
$Egobie-Blue: #1B4A5E;
$Egobie-Blue-2: #282C4E;
$Egobie-Blue-3: #1672EE;


$Egobie-BG-Color: #FFFFFF;
$Egovie-Header-BG-Color: #364351;
$Egobie-Color: #6FCBFF; //#5C8CA7;

@function image($name) {
    @return url('../img/#{$name}');
}

@function icon($name) {
    @return url('../img/icon/#{$name}');
}

@function logo($name) {
    @return url('../img/logo/#{$name}');
}

@function tutorial($name) {
    @return url('../img/tutorial/#{$name}');
}

@mixin linear-gradient($c1, $c2, $c3, $c4) {
    background-image: -webkit-linear-gradient($c1, $c2, $c3, $c4);
    background-image: -moz-linear-gradient($c1, $c2, $c3, $c4);
    background-image: -ms-linear-gradient($c1, $c2, $c3, $c4);
    background-image: -o-linear-gradient($c1, $c2, $c3, $c4);
}

@mixin appearance($content) {
    -webkit-appearance: $content;
    -moz-appearance: $content;
    appearance: $content;
}

@mixin placehoder-color($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
}

.egobie {

    &-button-disabled {
        opacity: 0.6;
    }

    &-full-height {
        height: 100vh;
    }
    
    &-display-none {
        display: none !important;
    }

    &-display-inherit {
        display: inherit !important;
    }

    &-padding-0 {
        padding: 0px;
    }

    &-margin-left-3 {
        margin-left: 3px;
    }

    &-margin-top-5 {
        margin-top: 5px;
    }

    &-margin-top-15 {
        margin-top: 15px;
    }

    &-margin-right-5 {
        margin-right: 5px;
    }

    &-margin-top-10 {
        margin-top: 10px;
    }

    &-margin-top-20 {
        margin-top: 20px;
    }

    &-margin-bottom-10 {
        margin-bottom: 10px;
    }

    &-width-200 {
        width: 200px;
    }

    &-width-300 {
        width: 300px;
    }

    &-height-200 {
        height: 200px;
    }

    &-height-300 {
        height: 300px;
    }

    &-left {
        float: left;
    }

    &-center {
        left: 0;
        right: 0;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    &-right {
        float: right;
    }

    &-avatar {
        left: 10px !important;
        top: 25px !important;
        transform: scale(1.5);
        border-radius: 0 !important;
        content: url('../../../img/icons/eGobie_Profile_on.png');
    }

    &-header-bar {
        //background-color: $Egovie-Header-BG-Color !important;
        background-color: rgba(0, 0, 0, 0.75);
        border: 0px !important;
        //background: transparent;

        h1, .button {
            //color: $Egobie-Color !important;
            color: #FFFFFF !important;
        }
    }

    &-whole-page {
        .list, .scroll {
            height: 100%;
        }
    }

    &-transparent, &-transparent * {
        background: transparent;
        //color: #FFFFFF;
        color: #000000;
    }

    &-bg-mask {
        position: absolute;
        width: 100%;
        height: 100%;

        &-1 {
            position: absolute;
            width: 100%;
            height: 100%;
            //background-color: rgb(28, 89, 150);
            background-color: #FFFFFF;
        }

        &-2 {
            position: absolute;
            width: 100%;
            height: 100%;
            //background-color: rgba(54, 67, 81, 0.85);
            background-color: rgba(147, 153, 156, 0.10);
        }
    }
}

* {
    font-family: eGobieFont !important;
}