@import 'egobie';

.egobie-no-notification {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    text-align: center;
    border: 0px;
    background: transparent;

    .icon-1 {
        display: block;
        height: 150px;
        width: 250px;
        margin: auto;
        margin-top: 50px;
        font-size: 200px;
    }

    p.no {
        font-size: 20px;
        font-weight: 600;
        height: 30px;
        line-height: 30px;
        margin-top: 50px;
    }
}