@import 'egobie';

.egobie-service-disabled {
    opacity: 0.40;
    box-shadow: none !important;
}

.egobie-service-item-select {
    @extend .egobie-service-item;

    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.26);
    padding-left: 5px !important;
    padding-top: 5px !important;
}