@import 'egobie';

.egobie {

    &-menu-mask {
        position: absolute;
        height: 100%;
        width: 100%;
        /*background: rgba(31, 55, 76, 0.70);*/
        background: rgba(27, 28, 29, 0.7);
    }

    &-menu-bg {
        background: image($Sign-Bg) no-repeat center center;
        background-size: cover;

        .sign-out {
            display: block;
            width: 80px;
            margin-left: 20px;
            margin-top: 5px;
        }
    }

    &-menu-bg * {
        color: #FFFFFF;
    }

    /*
    &-menu-bg, &-menu-bg * {
        color: $Light-Grey-Blue !important;
        background-color: $Dark-Navy-Blue !important;

        .badge {
            background-color: #EF473A !important;
        }
    }
    */

    &-menu-item {
        border: 0px;
        margin-top: 3px;
        background: transparent;
        //border-bottom: 1px solid rgba(255, 255, 255, 0.3);

        .item-content {
            background: transparent;
            padding: 12px 49px 12px 12px;
        }

        i {
            transform: scale(.6);
        }

        span {
            margin-left: 10px;

            &.badge {
                top: 11px;
            }
        }
    }

    &-menu-item-last {
       @extend .egobie-menu-item;
       padding-bottom: 10px;
       border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    &-menu-profile {
        background: transparent;
        margin-top: 20px;
        margin-bottom: 10px;
        border: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);

        &-logo {
            position: absolute;
            bottom: 20px;
            left: 20px;
            margin-top: auto;
            margin-bottom: auto;
            max-width: 50px;
            max-height: 50px;
            content: logo($Logo-Light-Grey-Blue);
        }

        &-name {
            position: absolute;
            text-transform: capitalize;
            bottom: 27px;
            margin-left: 15px;
            margin-top: auto;
            margin-bottom: auto;
            height: 35px;
            width: 200px;
            line-height: 32px;
            font-size: 20px;
        }
    }

    /* Menu Icons */
    &-home-on {
        content: icon($Menu-Home-On);
    }

    &-home-off {
        content: icon($Menu-Home-Off);
    }

    &-notification-on {
        content: icon($Menu-Notification-On);
    }

    &-notification-off {
        content: icon($Menu-Notification-Off);
    }

    &-service-on {
        content: icon($Menu-Service-On);
    }

    &-service-off {
        content: icon($Menu-Service-Off);
    }

    &-coupon-on {
        content: icon($Menu-Coupon-Off);
    }

    &-coupon-off {
        content: icon($Menu-Coupon-Off);
    }

    &-history-on {
        content: icon($Menu-History-On);
    }

    &-history-off {
        content: icon($Menu-History-Off);
    }

    &-vehicle-on {
        content: icon($Menu-Vehicle-On);
    }

    &-vehicle-off {
        content: icon($Menu-Vehicle-Off);
    }

    &-payment-on {
        content: icon($Menu-Payment-On);
    }

    &-payment-off {
        content: icon($Menu-Payment-Off);
    }

    &-setting-on {
        content: icon($Menu-Setting-On);
    }

    &-setting-off {
        content: icon($Menu-Setting-Off);
    }

    &-about-on {
        content: icon($Menu-About-On);
    }

    &-about-off {
        content: icon($Menu-About-Off);
    }
}