@import 'egobie';

.egobie {

    &-notation {
        height: 30px;

        i {
            display: block;
            position: relative;
            font-size: 13px;
            margin-bottom: 5px;
            height: 15px;
            line-height: 15px;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            color: red;
        }
    }

    &-in-use {
        color: red !important;
    }

    &-sign-logo {
        @extend .egobie-center;

        display: block;
        width: 133px;
        height: 133px;
        border: 0px;
    }

    &-sign-bg {
        background: image($Sign-Bg) no-repeat center center;
        background-size: cover;
        padding: 0px;

        .mask {
            position: absolute;
            height: 100%;
            width: 100%;
            /*background: rgba(118, 67, 134, 0.60);*/
            background: rgba(15, 16, 37, 0.55)
        }

        .list {
            position: relative;

            .mask {
                background: rgba(12, 10, 12, 0.4);
            }
        }
    }

    &-signin-logo {
        @extend .egobie-sign-logo;

        /*content: logo($Logo-White);*/
        margin-top: 50px;
    }

    &-signup-logo {
        @extend .egobie-sign-logo;

        content: logo($Logo-White);
    }

    &-company {
        @extend .egobie-center;
        text-align: center;
        height: 20px;
        width: 100%;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
        color: #FFFFFF;
    }

    &-sign-item {
        @extend .egobie-center;

        width: 90%;
        padding: 0px;
        border: none;
        background: transparent;

        a {
            font-size: 13px;
            font-weight: 900;
            color: #FFFFFF;
            text-decoration: none;
        }
    }

    &-signin-item {
        @extend .egobie-center;

        width: 90%;
        background: transparent;
        border-color: #FFFFFF;
        border: 0px;
        border-bottom: 1px solid #FFFFFF;

        input {
            @include placehoder-color(#FFFFFF);

            color: #FFFFFF;
        }

        i {
            width: 40px;
            height: 30px;
            font-size: 30px;
            margin-right: 15px;
            border-right: 1px solid #FFFFFF;
            color: #FFFFFF;
        }
    }

    &-signup-item {
        @extend .egobie-margin-top-5;
        @extend .egobie-center;

        width: 90%;
        background: transparent;
        border-color: #FFFFFF;
        border: 0px;
        border-bottom: 1px solid #FFFFFF;

        input {
            @include placehoder-color(#FFFFFF);

            padding-right: 20px !important;
            color: #FFFFFF;            
        }

        i {
            width: 40px;
            height: 30px;
            font-size: 30px;
            margin-right: 15px;
            border-right: 1px solid #FFFFFF;
            color: #FFFFFF;
        }
    }

    &-sign-button {
        @extend .egobie-center;

        width: 90%;
        display: block;
        clear: both;
        margin-top: 20px;
        margin-bottom: 10px;
        color: #FFFFFF !important;
        border-color: #FFFFFF !important;
    }

    &-start-to-use {
        display: block;
        position: absolute;
        margin: 10px auto 50px auto;
        width: 300px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        color: $Egobie-Blue;
        border-color: $Egobie-Blue;
        background: transparent;
    }

    &-sign-out {
        display: inline-block;
        padding: 5px 10px 10px 20px;
        color: rgba(255,255,255,0.6);
    }
}