@import 'egobie';

.egobie {

    &-not-assigned {
        color: red !important;
    }

    &-fleet-price {
        display: flex;
        width: 95%;
        margin: auto auto 10px auto;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.5);

        .name {
            display: inline-block;
            line-height: 40px;
            height: 40px;
            padding-left: 10px;
        }

        input {
            display: inline-block;
            width: 70px;
            height: 30px;
            margin: auto 10px auto auto;
            text-align: center;
            border: 1px solid rgba(0, 0, 0, 0.6);
        }
    }
}