@import 'egobie';

.egobie {
    &-coupon {
        .coupon {
            height: 350px;
            border: 0px;

            .gift {
                position: relative;
                margin-left: auto;
                margin-right: auto;
                overflow: hidden;
                width: 200px;
                height: 100px;
                text-align: center;

                .image {
                    max-width: 100%;
                    max-height: 100%;
                    content: image($Coupon-Gift);
                }
            }

            .content {
                font-size: 20px;
                height: 25px;
                line-height: 25px;
                text-align: center;
            }

            .code {
                position: relative;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                margin-top: 10px;
                height: 130px;
                width: 250px;

                img {
                    display: block;
                    position: absolute;
                    max-width: 100%;
                    max-height: 100%;
                    width: 250px;
                    content: image($Coupon-Tag);
                }

                p {
                    position: absolute;
                    font-size: 35px;
                    left: 0px;
                    right: 0px;
                    top: 0px;
                    bottom: 0px;
                    line-height: 125px;
                }
            }
        }

        .share {
            border: 0px;
            border-top: 1px solid #AAAAAA;
            border-bottom: 1px solid #AAAAAA;
            overflow: visible;

            .social-list {
                display: flex;
                width: 70%;
                margin-left: auto;
                margin-right: auto;
                font-size: 25px;

                .social {
                    width: 25%;
                    height: 40px;
                    position: relative;
                    padding: 0px;
                    text-align: center;

                    i.circle {
                        position: absolute;
                        background-color: #F8F8FA;
                        border: 1px solid #AAAAAA;
                        border-radius: 100%;
                        height: 35px;
                        width: 35px;
                        left: 0px;
                        right: 0px;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    i.icon {
                        display: block;
                        position: absolute;
                        padding: 0px;
                        top: 5px;
                        left: 0px;
                        right: 0px;
                        margin-right: auto;
                        margin-left: auto;
                    }
                }
            }

            p {
                height: 50px;
                line-height: 50px;
                font-size: 30px;
                text-align: center;
                margin-top: -30px;
            }

            .share-des {
                font-size: 13px;
                text-align: center;
            }
        }
    }
}