<ion-view hide-nav-bar="true" cache-view="false"
          ng-app="app.setting"
          ng-controller="settingCtrl">
    <ion-header-bar class="egobie-header-bar">
        <button class="button button-icon icon ion-navicon egobie-display-inherit" menu-toggle="left"></button>
        <h1 class="title">SETTINGS</h1>
    </ion-header-bar>
    <div class="egobie-bg-mask">
        <div class="egobie-bg-mask-1"></div>
        <div class="egobie-bg-mask-2"></div>
    </div>
    <ion-content overflow-scroll="true" padding="true" class="egobie-transparent">
        <ion-list class="egobie-setting-page">
            <ion-item class="item-divider">USER SETTINGS</ion-item>
            <ion-item menu-close="" class="item-icon-left item-icon-right"
                      ng-click="showEditUser()">
                <i class="icon ion-person"></i>
                <span>User Account</span>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item menu-close="" class="item-icon-left item-icon-right"
                      ng-click="showEditPassword()">
                <i class="icon ion-locked"></i>
                <span>Change Password</span>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <ion-item class="item-divider">ADDRESS SETTINGS</ion-item>
            <ion-item menu-close="" class="item-icon-left item-icon-right"
                      ng-click="showEditHome()">
                <i class="icon ion-ios-home" style="font-size: 35px;"></i>
                <span>Home Address</span>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <!--
            <ion-item menu-close="" class="item-icon-left item-icon-right"
                      ng-click="showEditWork()">
                <i class="icon ion-briefcase"></i>
                <span>Work Address</span>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            -->
        </ion-list>
    </ion-content>
</ion-view>