<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" class="egobie-menu-bg">
        <div class="egobie-menu-mask"></div>
        <ion-content padding="false" class="side-menu-left"
                     ng-controller="menuCtrl">
            <ion-list ng-show="user.isResidential">
                <ion-item class="item-avatar egobie-menu-profile">
                    <div class="egobie-menu-profile-logo"></div>
                    <div class="egobie-menu-profile-name">{{user.name}}</div>
                </ion-item>

                <ion-item ui-sref="menu.home.resident" menu-close="" class="item item-icon-left egobie-menu-item">
                    <i class="icon egobie-home-off"></i><span>HOME</span>
                </ion-item>

                <ion-item ui-sref="menu.notification" menu-close="" class="item item-icon-left egobie-menu-item">
                    <i class="icon egobie-notification-off"></i><span>NOTIFICATIONS</span>
                    <span class="badge badge-assertive"
                          ng-show="badge.notification > 0">{{badge.notification}}</span>
                </ion-item>

                <ion-item ui-sref="menu.service" menu-close="" class="item item-icon-left egobie-menu-item">
                    <i class="icon egobie-service-off"></i><span>EGOBIE SERVICES</span>
                </ion-item>

                <ion-item ui-sref="menu.myservice" menu-close="" class="item item-icon-left egobie-menu-item">
                    <i class="icon egobie-history-off"></i><span>MY SERVICES</span>
                    <span class="badge badge-assertive"
                          ng-show="badge.history > 0">{{badge.history}}</span>
                </ion-item>
                <ion-item ui-sref="menu.coupon" menu-close="" class="item item-icon-left egobie-menu-item">
                    <i class="icon egobie-coupon-off"></i><span>GET YOUR GIFT</span>
                </ion-item>

                <ion-item ui-sref="menu.car" menu-close="" class="item item-icon-left egobie-menu-item">
                    <i class="icon egobie-vehicle-off"></i><span>VEHICLES</span>
                    <!--<span class="item-note">Grammy</span>-->
                </ion-item>

                <ion-item ui-sref="menu.payment" menu-close="" class="item item-icon-left egobie-menu-item">
                    <i class="icon egobie-payment-off"></i><span>PAYMENTS</span>
                </ion-item>

                <ion-item ui-sref="menu.setting" menu-close="" class="item item-icon-left egobie-menu-item">
                    <i class="icon egobie-setting-off"></i><span>SETTINGS</span>
                </ion-item>

                <ion-item ui-sref="menu.about" menu-close="" class="item item-icon-left egobie-menu-item-last">
                    <i class="icon egobie-about-off"></i><span>ABOUT</span>
                </ion-item>

                <!--
                <i class="egobie-sign-out"
                   ng-click="signOut()">Sign Out</i>
                -->
            </ion-list>

            <ion-list ng-show="!user.isResidential">
                <ion-item class="item-avatar egobie-menu-profile">
                    <div class="egobie-menu-profile-logo"></div>
                    <div class="egobie-menu-profile-name">{{user.name}}</div>
                </ion-item>

                <ion-item ui-sref="menu.task" menu-close="" class="item item-icon-left egobie-menu-item">
                    <i class="icon egobie-history-off"></i><span>MY TASKS</span>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>