<ion-view hide-nav-bar="true" cache-view="false"
          ng-app="app.about"
          ng-controller="aboutCtrl">
    <ion-header-bar class="egobie-header-bar">
        <button class="button button-icon icon ion-navicon egobie-display-inherit" menu-toggle="left"></button>
        <h1 class="title">ABOUT</h1>
    </ion-header-bar>
    <div class="egobie-bg-mask">
        <div class="egobie-bg-mask-1"></div>
        <div class="egobie-bg-mask-2"></div>
    </div>
    <ion-content padding="true" class="egobie-transparent">
        <ion-list class="egobie-about-page">
            <ion-item>
                Version<span class="item-note">v1.3.0</span>
            </ion-item>
            <!--
            <ion-item class="item-icon-right">
                <i class="icon ion-ios-arrow-right"></i>Rate us in the App Store
            </ion-item>
            <ion-item class="item-icon-right">
                <i class="icon ion-ios-arrow-right"></i>Privacy Policy
            </ion-item>
            -->
            <ion-item class="item-icon-right"
                      ng-click="openWebsite()">
                <i class="icon ion-ios-arrow-right"></i>eGobie.com
            </ion-item>
            <ion-item class="item-icon-right"
                      ng-click="openFAQ()">
                <i class="icon ion-ios-arrow-right"></i>FAQ
            </ion-item>
            <ion-item class="item-icon-right"
                      ng-click="showFeedback()">
                <i class="icon ion-ios-arrow-right"></i>Feedback
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>