<ion-view hide-nav-bar="true"
          ng-app="app.home.resident.demand"
          ng-controller="demandCtrl">
    <ion-header-bar class="egobie-header-bar">
        <button class="button button-icon icon ion-ios-arrow-back"
                ng-click="goHome()"></button>
        <h1 class="title">ON DEMAND</h1>
    </ion-header-bar>
    <div class="egobie-bg-mask">
        <div class="egobie-bg-mask-1"></div>
        <div class="egobie-bg-mask-2"></div>
    </div>
    <ion-content padding="true">
        <ion-list class="egobie-resident-order">
            <div class="note">
                <p>Due to capacity constraint</p>
                <p>we may not have availability for you</p>
            </div>

            <ion-item class="item-divider item-icon-right"
                      ng-click="selectService()">
                Choose Services<i class="icon ion-android-add"></i>
            </ion-item>
            <div class="service"
                      ng-repeat="service in services | filter: {checked: true}">
                <div class="name">{{service.name}} ({{service.full_type}} ${{service.price}})</div>
                <i class="icon ion-ios-close-empty"
                   ng-click="unselectService($event, service)"></i>
            </div>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-dark egobie-resident-footer"
                    ng-click="gotoDemandOrder()">
        <h1 class="title">CHECK AVAILABILITY</h1>
    </ion-footer-bar>
</ion-view>