<ion-view hide-nav-bar="true" cache-view="false"
          ng-controller="addonSelectCtl">
    <ion-header-bar class="egobie-header-bar">
        <!--
        <button class="button button-icon icon ion-ios-arrow-back"
                ng-click="pickAddon()"></button>
        -->
        <h1 class="title">EXTRA SERVICES</h1>
    </ion-header-bar>
    <div class="egobie-bg-mask">
        <div class="egobie-bg-mask-1"></div>
        <div class="egobie-bg-mask-2"></div>
    </div>
    <ion-content padding="true" class="egobie-service-list has-footer">
        <ion-list>
            <ion-item menu-close="" class="egobie-service-item-select"
                      ng-repeat="(name, addon) in addons"
                      ng-class="isAddonSelected(addon.checked)"
                      ng-click="toggleAddon(addon)">
                <div class="left"></div>
                <div class="middle">
                    <p class="price">{{addon.addon.price}}</p>
                    <p class="name">{{addon.addon.name}}</p>
                    <p class="note">{{addon.addon.note}}</p>
                    <p class="time"
                       ng-show="addon.addon.time > 0">Estimated Time : {{addon.addon.time}} mins</p>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>

    <ion-footer-bar class="bar-dark"
                    ng-click="pickAddon()">
        <h1 class="title">Save</h1>
    </ion-footer-bar>
</ion-view>