<ion-modal-view hide-nav-bar="true" cache-view="false">
    <ion-header-bar class="egobie-header-bar">
        <h1 class="title">"NEW USER"</h1>
        <button class="button button-icon icon ion-android-close"
                ng-click="hideAddUser()"></button>
    </ion-header-bar>
    <div class="egobie-bg-mask">
        <div class="egobie-bg-mask-1"></div>
        <div class="egobie-bg-mask-2"></div>
    </div>
    <ion-scroll padding="true" class="has-header has-footer egobie-user-form-bg">
        <ion-list class="egobie-user-form">
            <ion-item class="item-divider">BUSINESS INFO</ion-item>
            <ion-item>
                <i class="icon-mask"></i>
                <i class="icon ion-briefcase"></i>
                <input type="text" placeholder="Bussiness Name"
                       ng-model="user.fleet_name"/>
            </ion-item>
            <ion-item>
                <i class="icon-mask"></i>
                <i class="icon ion-briefcase"></i>
                <input type="text" placeholder="Street"
                       ng-model="user.street"/>
            </ion-item>
            <ion-item>
                <i class="icon-mask"></i>
                <i class="icon"></i>
                <input type="text" placeholder="City"
                       ng-model="user.city"/>
            </ion-item>
            <ion-item>
                <i class="icon-mask"></i>
                <i class="icon"></i>
                <select id="edithome-state" class="select-egobie"
                        ng-model="user.state"
                        ng-options="state as fullname for (state, fullname) in states">
                    <option value="">Choose State</option>
                </select>
            </ion-item>
            <ion-item>
                <i class="icon-mask"></i>
                <i class="icon"></i>
                <input type="text" placeholder="Zip Code"
                       ng-model="user.zip"/>
            </ion-item>

            <ion-item class="item-divider">CONTACT INFO</ion-item>
            <ion-item>
                <i class="icon-mask"></i>
                <i class="icon ion-person"></i>
                <input type="text" placeholder="First Name"
                       ng-model="user.first_name"/>
            </ion-item>
            <ion-item>
                <i class="icon-mask"></i>
                <i class="icon"></i>
                <input type="text" placeholder="Last Name"
                       ng-model="user.last_name"/>
            </ion-item>
            <ion-item>
                <i class="icon-mask"></i>
                <i class="icon ion-email"></i>
                <input type="text" placeholder="Email Address"
                       ng-model="user.email"/>
            </ion-item>
            <ion-item>
                <i class="icon-mask"></i>
                <i class="icon ion-ios-telephone" style="padding-left: 16px;"></i>
                <input type="text" placeholder="Phone Number"
                       ng-model="user.phone"/>
            </ion-item>
        </ion-list>
    </ion-scroll>
    <ion-footer-bar class="bar-dark"
                    ng-click="addUser()">
        <h1 class="title">Add</h1>
    </ion-footer-bar>
</ion-modal-view>