<ion-view hide-nav-bar="true" class="egobie-sign-bg"
          ng-app="app.sign.up"
          ng-controller="signUpCtrl">
    <div class="mask"></div>
    <ion-scroll padding="true" class="egobie-full-height">
        <ion-list class="list-inset">
            <img class="egobie-signup-logo" alt=""/>
            <div class="egobie-company">eGobie Car Services</div>

            <div class="egobie-notation">
                <i ng-class="displayNameInUse()">Username is in use</i>
                <i ng-class="displayEmailInUse()">Email address is in use</i>
            </div>

            <ion-item class="item-input egobie-signup-item">
                <i class="icon ion-android-person placeholder-icon"></i>
                <input type="text" placeholder="Username (6-12)" minlength="6" maxlength="12"
                       ng-class="inputNameInUse()"
                       ng-model="signUpForm.username"
                       ng-change="checkUsername()"/>
            </ion-item>
            <ion-item class="item-input egobie-signup-item">
                <i class="icon ion-locked placeholder-icon"></i>
                <input type="password" placeholder="Password (8-16)" minlength="8" maxlength="16"
                       ng-model="signUpForm.password1"/>
            </ion-item>
            <ion-item class="item-input egobie-signup-item">
                <i class="icon placeholder-icon"></i>
                <input type="password" placeholder="Confirm Password" minlength="8" maxlength="16"
                       ng-model="signUpForm.password2"/>
            </ion-item>
            <ion-item class="item-input egobie-signup-item">
                <i class="icon ion-email placeholder-icon"></i>
                <input type="email" placeholder="Email Address"
                       ng-class="inputEmailInUse()"
                       ng-model="signUpForm.email"
                       ng-change="checkEmail()"/>
            </ion-item>
            <ion-item class="item-input egobie-signup-item">
                <i class="icon ion-pricetags placeholder-icon"></i>
                <input type="text" placeholder="Invitation Code (Optional)" maxlength="5"
                       ng-model="signUpForm.coupon"/>
            </ion-item>

            <button class="button button-outline egobie-sign-button"
                    ng-click="signUp()">Sign Up</button>
            <ion-item class="egobie-sign-item">
                <a class="egobie-left" ui-sref="sign.in">Sign In</a>
            </ion-item>
        </ion-list>
    </ion-scroll>
</ion-view>